body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
  }
  
  li {
    float: right;
    font-size: .9rem;
    line-height: 1vh;
    font-family: "Lucida Console", "Courier New", monospace;
    /*border: 1px solid #bbb;*/
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #e6e6e6;
  }

  #swag {
    font-family: "Brush Script MT", Times, serif;
    font-size: 2rem;
  }

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  
.column img {
    margin-top: 12px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .fixed-bg {
    background-image: url("images/greenmount.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
